___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 11 (Part - 01)</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">RegEx in Python</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#0)
* [RegEx in PYTHON](#1)
* [RAW STRING ("r/ R")](#2)
* [COMMON PYTHON RegEx FUNCTIONS](#3)    
* [PANDAS FUNCTIONS ACCEPTING RegEx](#4)    
* [THE END OF THE SESSION - 07](#5)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy & Pandas you can import them as a library:

In [1]:
import numpy as np
import pandas as pd
import re

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">RegEx in Python</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- A **Reg**ular **Ex**pression (RegEx) is a special sequence of characters that helps you match or find other strings or sets of strings, using a specialized syntax held in a pattern.

- The **Python module** **``re``** provides full support for regular expressions in Python [Source 01](https://docs.python.org/3/library/re.html#re-objects), [Source 02](https://www.tutorialspoint.com/python/python_reg_expressions.htm) & [Source 03](https://www.w3schools.com/python/python_regex.asp).


### Common Expressions

**``\d``** Any numeric digit from ``0`` to ``9``.
                           
**``\D``** Matches any character which is not a decimal digit. This is the opposite of ``\d``.
                           
**``\w``** Any letter, numeric digit, or the underscore character. (Think of this as matching "word" characters.)
                           
**``\W``** Any character that is not a letter, numeric digit, or the underscore character.
                           
**``\s``** Any space, tab, or newline character. (Think of this as matching white-space characters.)
                           
**``\S``** Any character that is not a space, tab, or newline.


### Common Metacharacters

**``"[]"``**	  A set of characters	``"[a-m]"``

**``"\"``**	      Signals a special sequence (can also be used to escape special characters)

**``"."``**	      Any character (except newline character)

**``"^"``**	      Starts with	``"^hello"``

**``"$"``**	      Ends with	``"world$"``

**``"*"``**	      Match zero, one or more of the previous

**``"+"``**	      Match one or more of the previous

**``"?"``**	      Match zero or one of the previous

**``"{}"``**	  Match exactly the specified number of occurrences

**``"|"``**	      Either or	`"falls|stays"`

**``"()"``**	  Capture and group

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

RegEx Module
Python has a built-in package called re, which can be used to work with Regular Expressions.

Import the re module: import re

When you have imported the re module, you can start using regular expressions

The re module offers a set of functions that allows us to search a string for a match:

    Function	Description
    findall	    The findall() function returns a list containing all matches.
    search	    The search() function searches the string for a match, and returns a Match object if there is a match.
                If there is more than one match, only the first occurrence of the match will be returned:
    split	    The split() function returns a list where the string has been split at each match
    sub	        The sub() function replaces the matches with the text of your choice
    
Metacharacters are characters with a special meaning.

A special sequence is a \ followed by one of the characters in the list below, and has a special meaning.

A set is a set of characters inside a pair of square brackets [] with a special meaning.

Match Object is an object containing information about the search and the result. If there is no match, the value None will be returned, instead of the Match Object.

The Match object has properties and methods used to retrieve information about the search, and the result:

.span() returns a tuple containing the start-, and end positions of the match.
.string returns the string passed into the function
.group() returns the part of the string where there was a match

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Raw String ("r / R")</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- Python raw string is created by prefixing a string literal with **'r' or 'R'**.
- Python raw string treats **``backslash (\)``** as a literal character. This is useful when we want to have a string that contains backslash and don’t want it to be treated as an escape character [Source 01](https://blog.devgenius.io/beauty-of-raw-strings-in-python-fa627d674cbf) & [Source 02](https://stackoverflow.com/questions/26318287/what-does-r-mean-before-a-regex-pattern#:~:text=The%20r%20means%20that%20the,escape%20codes%20will%20be%20ignored.).

In [6]:
print("Backslash: \")
      
# \ --> özel karakter tek başına yazılamıyor

SyntaxError: EOL while scanning string literal (1067547966.py, line 1)

In [2]:
print("Backslash: \\")
print("New line char: \\n")

Backslash: \
New line char: \n

In [7]:
print(r"Backslash: \\")
print(r"New line char: \\n")

# başına r koyunca row halinde herhangi bir karakter gibi yazdı

Backslash: \\
New line char: \\n

In [8]:
my_string = "Hello\nWorld"
print(my_string)

Hello
World

In [9]:
my_string = r"Hello\nWorld"
print(my_string)

# row haliyle string içinde nasıl ise o şekilde yazıyor

Hello\nWorld

## Invalid Raw String

In [13]:
print("\") 

# gives an error

SyntaxError: EOL while scanning string literal (448898525.py, line 1)

In [12]:
print(r"\") 
      
# gives an error

SyntaxError: EOL while scanning string literal (1563163259.py, line 1)

In [14]:
print(r"abc\") 

# gives an error

SyntaxError: EOL while scanning string literal (239994370.py, line 1)

In [15]:
print(r"abc\\\)" 
      
# gives an error

SyntaxError: unexpected EOF while parsing (2935712719.py, line 3)

In [16]:
print(r"abc\ ")

# sonuna boşluk ekleyince prb çözülüyor

abc\

In [17]:
print(r"abc\\")

# sonuna boşluk ekleyince prb çözülüyor

abc\\

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Common Python RegEx Functions</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- **re.search():** Scan through string looking for a match to the pattern.
- **re.match():** Try to apply the pattern at the start of the string.
- **re.fullmatch():** Try to apply the pattern to all of the string.
- **re.findall():** Return a list of all non-overlapping matches in the string.
- **re.sub():** Return the string obtained by replacing the leftmost non-overlapping occurrences of the pattern in string by the replacement repl.
- **re.split():** Split the source string by the occurrences of the pattern, returning a list containing the resulting substrings.

In [18]:
dir(re) 

# shows all functions/methods in re module
# dir() içine ne atarsak onunla ilgilki bilgi veriyor

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cache',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'template']

In [19]:
# We can see docstring of related method with help function
method = re.match
help(method)

# match ile ilgili bilgiye ulaşıyoruz

Help on function match in module re:

match(pattern, string, flags=0)
    Try to apply the pattern at the start of the string, returning
    a Match object, or None if no match was found.

In [20]:
?method

# match ile ilgili bilgiye başına ? koyarak da ulaşabiliyoruz

## ``re.search(pattern, string, flags=0)``

Scan through string looking for a match to the pattern, returning a Match object, or None if no match was found [Source](https://www.pythontutorial.net/python-regex/python-regex-flags/).

#### Find numeric digits with search function

In [22]:
text = "A78L41K"

In [23]:
re.search("78", text)

# Match object döndürüyor

#### with regular expressions

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

In [25]:
re.search("\d", text)

# \d Returns a match where the string contains digits (numbers from 0-9) "\d"

In [24]:
re.search("\d\d", text)

# regex string ile çalıştığından patterni string içinde tanımlamamız gerekiyor

#### with compile() method

Signature: re.compile(pattern, flags=0)
Docstring: Compile a regular expression pattern, returning a Pattern object.
File:      c:\users\toshiba\anaconda3\lib\re.py
Type:      function

In [26]:
re.compile("\d\d")

re.compile(r'\d\d', re.UNICODE)

In [27]:
comp = re.compile("\d\d")

# bir değişkene atıyoruz

In [28]:
comp.search(text)

# burada text içinde comp değişkeninde tanımlanan paterne uygun olarak arama yap

In [29]:
num = comp.search(text)
num

# burada bir değişkene atadık

In [30]:
num.start()

# compile ın metodları var.
# nerede başlıyor

1

In [31]:
num.end()

# nerede bitiyor

3

In [32]:
num.span()

# span başlangıcını ve bitişini veriyor

(1, 3)

In [33]:
num.group()

# paterne uygun olarak çıktıyı string olarak veriyor

'78'

In [34]:
print(num.group())

# print ile string den çıkararak daha düzgün bir çıktı aldık

78

In [36]:
type(num.group())

str

In [37]:
type(print(num.group()))

78

NoneType

#### Find non decimal digits with search function

In [45]:
text = "8PM19MIN"

In [46]:
re.search("\D", text)

In [47]:
nondeci = re.search("\D", text)
nondeci.group()

# \D Returns a match where the string DOES NOT contain digits "\D"

'P'

In [48]:
nondeci = re.search("\D\D", text)
nondeci.group()

# \D Returns a match where the string DOES NOT contain digits "\D"

'PM'

In [49]:
nondeci = re.search("\D\D\D", text)
nondeci.group()

# \D Returns a match where the string DOES NOT contain digits "\D"

'MIN'

In [50]:
nondeci = re.search("\D+", text)
nondeci.group()

'PM'

#### Find phone number pattern

In [52]:
text = 'My phone number is 1234567890'

In [53]:
re.search("\d\d\d\d\d\d\d\d\d\d", text)

In [54]:
telno = re.search("\d\d\d\d\d\d\d\d\d\d", text)
telno.group()

# \d Returns a match where the string contains digits (numbers from 0-9) "\d"

'1234567890'

In [55]:
telno = re.search("\d+", text)
telno.group()

# + One or more occurrences

'1234567890'

In [56]:
telno = re.search("\d*", text)
telno.group()

# * Zero or more occurrences

''

In [57]:
text = 'My phone number is 123 456 7890'

In [58]:
telno = re.search("\d\d\d \d\d\d \d\d\d\d", text)
telno.group()

'123 456 7890'

In [59]:
text = 'My phone number is 123-456-7890'

In [60]:
telno = re.search("\d\d\d-\d\d\d-\d\d\d\d", text)
telno.group()

'123-456-7890'

In [61]:
telno = re.search('\d'*3 + '-' + '\d'*3 + '-' + '\d'*4, text)
telno.group(0)

'123-456-7890'

#### Find phone number pattern by grouping

In [62]:
telno = re.search("(\d\d\d)-(\d\d\d)-(\d\d\d\d)",text)
telno.group() 

# try 1,2,3 for group
# grup ile de çalışabiliyordu

'123-456-7890'

In [63]:
telno = re.search("(\d*)-(\d*)-(\d*)",text)
telno.group()

# * Zero or more occurrences

'123-456-7890'

In [64]:
telno = re.search("(\d+)-(\d+)-(\d+)",text)
telno.group()

# + One or more occurrences

'123-456-7890'

#### Escaping parentheses and create 2 group -> first group:(415) second group:555-1212 print

In [65]:
text = 'My phone number is (415) 555-1212'

In [76]:
telno = re.search("((\d\d\d\)) (\d\d\d-\d\d\d\d)", text)
telno.group()

# ilk grup un parantezini hata olarak algılıyor

error: missing ), unterminated subpattern at position 0

In [78]:
telno = re.search("(\(\d\d\d\)) (\d\d\d-\d\d\d\d)", text)

# ilk grup un parantezini hata olarak algılamaması için başına \ koyuyoruz.

print(telno.group(1))
print(telno.group(2))

# 2 grup yaptık

(415)
555-1212

In [79]:
telno = re.search("(\(\d\d\d\)) (\d\d\d-\d\d\d\d)", text)

print(telno.group(1) + " " + telno.group(2))

# 2 grup yaptık

(415) 555-1212

In [80]:
telno.group(0)

'(415) 555-1212'

In [81]:
telno.group(1)

'(415)'

In [82]:
telno.group(2)

'555-1212'

## ``re.match(pattern, string, flags=0)``

Try to apply the pattern at the start of the string, returning a Match object, or None if no match was found.

If you want to locate a match anywhere in string, use search() instead of match()

In [87]:
text = "A78L41K"

In [88]:
num = re.match("\d\d", text) # gives an error, because match function just look at the beginning of string 
num.group()

AttributeError: 'NoneType' object has no attribute 'group'

In [89]:
# re.match("\w\d\d", text) 

alp = re.match("\D\d\d", text)
alp.group()

'A78'

In [ ]:
# match ile fullmatch arasındaki tek fark match in text başından arama yapması

Signature: re.match(pattern, string, flags=0)
Docstring:
Try to apply the pattern at the start of the string, returning
a Match object, or None if no match was found.
File:      c:\users\toshiba\anaconda3\lib\re.py
Type:      function

Signature: re.fullmatch(pattern, string, flags=0)
Docstring:
Try to apply the pattern to all of the string, returning
a Match object, or None if no match was found.
File:      c:\users\toshiba\anaconda3\lib\re.py
Type:      function

## ``re.fullmatch(pattern, string, flags=0)``

Try to apply the pattern to all of the string

In [ ]:
text = "A78L41K"

In [90]:
alpnum = re.fullmatch("\D\d+\D\d+\D", text)
alpnum.group()

'A78L41K'

In [92]:
re.fullmatch("\w+", text)

In [94]:
# re.fullmatch("\w+", text)
alpnum = re.fullmatch("\D\d+\D\d+\D", text)
alpnum.group()

'A78L41K'

In [95]:
alpnum = re.fullmatch("\w\d+\w\d+\w", text)
alpnum.group()

'A78L41K'

## ``re.findall(pattern, string, flags=0)``

Return a list of all non-overlapping matches in the string.

#### Extract numbers from text as a list

Signature: re.findall(pattern, string, flags=0)
Docstring:
Return a list of all non-overlapping matches in the string.

If one or more capturing groups are present in the pattern, return
a list of groups; this will be a list of tuples if the pattern
has more than one group.

Empty matches are included in the result.
File:      c:\users\toshiba\anaconda3\lib\re.py
Type:      function

In [97]:
text = "O 1, t 10, o 100. 100000"

In [98]:
re.findall("\d{1}", text)

['1', '1', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0']

In [99]:
re.findall("\d{2}", text)

['10', '10', '10', '00', '00']

In [100]:
re.findall("\d{3}", text)

['100', '100', '000']

In [102]:
re.findall("\d{4}", text)

['1000']

In [103]:
re.findall("\d{1, 6}", text)

# 1 ile 6 arasında boşluk olduğu için boş döndürüyor
# Regex de boşluk bırakılmaması gerekli
# Boşluğu da bir karakter olarak algılıyor
# Hata vermiyor, çalışıyor. Ama istediğimiz sonucu vermiyor
# Pattern verdiğimiz için boşluğu da bu patternin bir elemanı olarak algılıyor

[]

In [104]:
re.findall("\d{1,6}", text)

['1', '10', '100', '100000']

In [105]:
re.findall("\d+", text)

['1', '10', '100', '100000']

#### Extract words begining with "f"

In [106]:
text = 'which foot or hand fell fastest'

In [107]:
re.findall("f[a-z]*", text)

# * Zero or more occurrences

['foot', 'fell', 'fastest']

In [108]:
re.findall("f[a-z]+", text)

# + One or more occurrences

['foot', 'fell', 'fastest']

#### Extract equations made up of words and numbers

In [109]:
text = 'set width=20 and height=10'

In [110]:
re.findall('\w+=\d+', text)

['width=20', 'height=10']

In [111]:
re.findall('(\w+)=(\d+)', text)

[('width', '20'), ('height', '10')]

In [113]:
a = re.findall('(\w+)=(\d+)', text)
a

[('width', '20'), ('height', '10')]

In [115]:
a[0]

('width', '20')

In [116]:
a[1]

('height', '10')

#### Check if the string starts with 'hello'

In [120]:
text = "hello world"

In [121]:
re.findall("hello", text)

['hello']

In [122]:
re.findall("^hello", text)

# ^ Starts with

['hello']

Signature: re.match(pattern, string, flags=0)
Docstring:
Try to apply the pattern at the start of the string, returning
a Match object, or None if no match was found.
File:      c:\users\toshiba\anaconda3\lib\re.py
Type:      function

In [123]:
re.match("^hello", text).group()

'hello'

Signature: re.search(pattern, string, flags=0)
Docstring:
Scan through string looking for a match to the pattern, returning
a Match object, or None if no match was found.
File:      c:\users\toshiba\anaconda3\lib\re.py
Type:      function

In [124]:
re.search("^hello", text).group()

'hello'

#### Check if the string ends with 'world'

In [125]:
re.findall("world$",text)

# $ Ends with

['world']

## ``re.sub(pattern, repl, string, count=0, flags=0)``

Return the string obtained by replacing the leftmost non-overlapping occurrences of the pattern in string by the replacement repl.  repl can be either a string or a callable; if a string, backslash escapes in it are processed.  If it is a callable, it's passed the Match object and must return a replacement string to be used.

#### Remove anything other than digits

In [126]:
text = "2004-959-559 # This is Phone Number"

Signature: re.sub(pattern, repl, string, count=0, flags=0)
Docstring:
Return the string obtained by replacing the leftmost
non-overlapping occurrences of the pattern in string by the
replacement repl.  repl can be either a string or a callable;
if a string, backslash escapes in it are processed.  If it is
a callable, it's passed the Match object and must return
a replacement string to be used.
File:      c:\users\toshiba\anaconda3\lib\re.py
Type:      function

In [127]:
re.sub("\D", ".", text)

# bulduğu tüm digitleri . ile değiştiriyor

'2004.959.559.......................'

In [128]:
re.sub("\D", "", text)

'2004959559'

#### Remove digits and replace with "."

In [132]:
text

'2004-959-559 # This is Phone Number'

In [129]:
re.sub("\d", ".", text)

'....-...-... # This is Phone Number'

In [130]:
re.sub("\d", ".", text, count=4)

# count ile baştan 4 karakteri değiştirdik

'....-959-559 # This is Phone Number'

In [131]:
pd.Series(text).str.replace("\d", ".", regex=True)

0    ....-...-... # This is Phone Number
dtype: object

## ``re.split(pattern, string, maxsplit=0, flags=0)``

Split the source string by the occurrences of the pattern, returning a list containing the resulting substrings.

In [133]:
text = "ab56cd78_de fg3hıi49"

Signature: re.split(pattern, string, maxsplit=0, flags=0)
Docstring:
Split the source string by the occurrences of the pattern,
returning a list containing the resulting substrings.  If
capturing parentheses are used in pattern, then the text of all
groups in the pattern are also returned as part of the resulting
list.  If maxsplit is nonzero, at most maxsplit splits occur,
and the remainder of the string is returned as the final element
of the list.
File:      c:\users\toshiba\anaconda3\lib\re.py
Type:      function

In [134]:
re.split("\D+", text)

# \D Returns a match where the string DOES NOT contain digits "\D"
# + One or more occurrences

['', '56', '78', '3', '49']

In [135]:
re.split("\D+", text, maxsplit=2)

['', '56', '78_de fg3hıi49']

In [136]:
re.findall("\d+", text)

# split e nazaran findall daha kullanışlı

['56', '78', '3', '49']

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Pandas Functions Accepting RegEx</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- **count():** Count occurrences of pattern in each string of the Series/Index
- **replace():** Replace the search string or pattern with the given value
- **contains():** Test if pattern or regex is contained within a string of a Series or Index. Calls re.search() and returns a boolean
- **findall():** Find all occurrences of pattern or regular expression in the Series/Index. Equivalent to applying re.findall() on all elements
- **match():** Determine if each string matches a regular expression. Calls re.match() and returns a boolean
- **split():** Split strings around given separator/delimiter and accepts string or regular expression to split on
- **extract():** Extract capture groups in the regex pat as columns in a DataFrame and returns the captured groups

In [137]:
data = [['Evert van Dijk', 'Carmine-pink, salmon-pink streaks, stripes, flecks. #94569# Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'],
        ['Every Good Gift', 'Red.  Flowers velvety red.  #079463895689# Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'], 
        ['Evghenya', 'Orange-pink.  75 petals.  Large, very double #68345_686# bloom form.  Blooms in flushes throughout the season.'], 
        ['Evita', 'White or white blend.  None to mild fragrance.  35 petals #9897#.  Large, full (26-40 petals), high-centered bloom form.  Blooms in flushes throughout the season.'],
        ['Evrathin', 'Light pink. [Deep pink.]  Outer petals white. Expand rarely #679754YH89#.  Mild fragrance.  35 to 40 petals.  Average diameter 2.5".  Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form.  Prolific, once-blooming spring or summer.  Glandular sepals, leafy sepals, long sepals buds.'],
        ['Evita 2', 'White, blush shading.  Mild, wild rose fragrance #AGHJS876IOP#.  20 to 25 petals.  Average diameter 1.25".  Small, very double, cluster-flowered bloom form.  Blooms in flushes throughout the season.']]
  
df = pd.DataFrame(data, columns = ['name', 'bloom']) 
df

              name                                              bloom
0   Evert van Dijk  Carmine-pink, salmon-pink streaks, stripes, fl...
1  Every Good Gift  Red.  Flowers velvety red.  #079463895689# Mod...
2         Evghenya  Orange-pink.  75 petals.  Large, very double #...
3            Evita  White or white blend.  None to mild fragrance....
4         Evrathin  Light pink. [Deep pink.]  Outer petals white. ...
5          Evita 2  White, blush shading.  Mild, wild rose fragran...

## ``pandas.Series.str.count(pat, flags=0)``

Count occurrences of pattern in each string of the Series/Index.

This function is used to count the number of times a particular regex pattern is repeated in each of the string elements of the Series.

#### How many numerical values are there in each row of "bloom" feature?

In [138]:
df.bloom

0    Carmine-pink, salmon-pink streaks, stripes, fl...
1    Red.  Flowers velvety red.  #079463895689# Mod...
2    Orange-pink.  75 petals.  Large, very double #...
3    White or white blend.  None to mild fragrance....
4    Light pink. [Deep pink.]  Outer petals white. ...
5    White, blush shading.  Mild, wild rose fragran...
Name: bloom, dtype: object

In [139]:
df.bloom[0]

'Carmine-pink, salmon-pink streaks, stripes, flecks. #94569# Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

Signature: df.bloom.str.count(pat, flags=0)
Docstring:
Count occurrences of pattern in each string of the Series/Index.

This function is used to count the number of times a particular regex
pattern is repeated in each of the string elements of the
:class:`~pandas.Series`.

Parameters
----------
pat : str
    Valid regular expression.
flags : int, default 0, meaning no flags
    Flags for the `re` module. For a complete list, `see here
    <https://docs.python.org/3/howto/regex.html#compilation-flags>`_.
**kwargs
    For compatibility with other string methods. Not used.

Returns
-------
Series or Index
    Same type as the calling object containing the integer counts.

See Also
--------
re : Standard library module for regular expressions.
str.count : Standard library version, without regular expression support.

Notes
-----
Some characters need to be escaped when passing in `pat`.
eg. ``'$'`` has a special meaning in regex and must be escaped when
finding this literal character.

In [140]:
df.bloom.str.count("\d+")

# \d Returns a match where the string contains digits (numbers from 0-9) "\d"
# # + One or more occurrences

# Count occurrences of pattern in each string of the Series/Index.

# Count function is used to count the number of times a particular regex pattern is repeated in each of the string elements of the :class:`~pandas.Series`.

0     1
1     4
2     3
3     4
4    10
5     5
Name: bloom, dtype: int64

#### How many characters are there in each row of "bloom" feature?

In [141]:
df.bloom.apply(len)

0    240
1    196
2    110
3    162
4    327
5    198
Name: bloom, dtype: int64

In [142]:
df.bloom.str.count(".")

# . Any character (except newline character)

0    240
1    196
2    110
3    162
4    327
5    198
Name: bloom, dtype: int64

#### How many sentences are there in each row of "bloom" feature?

In [143]:
df.bloom.str.count("\.")

# burada her cümlenin sonundaki nokta esas alındı
# \ ile noktayı özel karakter olmaktan çıkardık. Normal nokta olarak aldı.

0     5
1     6
2     4
3     5
4    11
5     7
Name: bloom, dtype: int64

## ``pandas.Series.str.replace(pat, repl, n=- 1, case=None, flags=0, regex=None)``

Replace each occurrence of pattern/regex in the Series/Index.

Equivalent to str.replace() or re.sub(), depending on the regex value.

#### Replace the values finding between the two "#" characters (including "#" characters) with the "" in each row of "bloom" feature

In [ ]:
df.bloom.str.count("#\S+#")

In [145]:
df["bloom"][0]

'Carmine-pink, salmon-pink streaks, stripes, flecks. #94569# Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

f.bloom.str.replace(
    pat: 'str | re.Pattern',
    repl: 'str | Callable',
    n: 'int' = -1,
    case: 'bool | None' = None,
    flags: 'int' = 0,
    regex: 'bool | None' = None,
)
Docstring:
Replace each occurrence of pattern/regex in the Series/Index.

Equivalent to :meth:`str.replace` or :func:`re.sub`, depending on
the regex value.

Parameters
----------
pat : str or compiled regex
    String can be a character sequence or regular expression.
repl : str or callable
    Replacement string or a callable. The callable is passed the regex
    match object and must return a replacement string to be used.
    See :func:`re.sub`.
n : int, default -1 (all)
    Number of replacements to make from start.
case : bool, default None
    Determines if replace is case sensitive:

    - If True, case sensitive (the default if `pat` is a string)
    - Set to False for case insensitive
    - Cannot be set if `pat` is a compiled regex.

flags : int, default 0 (no flags)
    Regex module flags, e.g. re.IGNORECASE. Cannot be set if `pat` is a compiled
    regex.
regex : bool, default True
    Determines if the passed-in pattern is a regular expression:

    - If True, assumes the passed-in pattern is a regular expression.
    - If False, treats the pattern as a literal string
    - Cannot be set to False if `pat` is a compiled regex or `repl` is
      a callable.

    .. versionadded:: 0.23.0

Returns
-------
Series or Index of object
    A copy of the object with all matching occurrences of `pat` replaced by
    `repl`.

Raises
------
ValueError
    * if `regex` is False and `repl` is a callable or `pat` is a compiled
      regex
    * if `pat` is a compiled regex and `case` or `flags` is set

Notes
-----
When `pat` is a compiled regex, all flags should be included in the
compiled regex. Use of `case`, `flags`, or `regex=False` with a compiled
regex will raise an error.

In [146]:
df["bloom"] = df.bloom.str.replace("#\S+#", "", regex = True)

# \S Returns a match where the string DOES NOT contain a white space character "\S"
# + One or more occurrences

In [147]:
df["bloom"][0]

'Carmine-pink, salmon-pink streaks, stripes, flecks.  Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

In [149]:
df.bloom.str.count("#\S+#")

0    0
1    0
2    0
3    0
4    0
5    0
Name: bloom, dtype: int64

## ``pandas.Series.str.contains(pat, case=True, flags=0, na=None, regex=True)``

Test if pattern or regex is contained within a string of a Series or Index.

Return boolean Series or Index based on whether a given pattern or regex is contained within a string of a Series or Index.

#### Which rows in "bloom" feature includes "diameter" value?

In [150]:
df.bloom[1]

'Red.  Flowers velvety red.   Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'

Signature: df.bloom.str.contains(pat, case=True, flags=0, na=None, regex=True)
Docstring:
Test if pattern or regex is contained within a string of a Series or Index.

Return boolean Series or Index based on whether a given pattern or regex is
contained within a string of a Series or Index.

Parameters
----------
pat : str
    Character sequence or regular expression.
case : bool, default True
    If True, case sensitive.
flags : int, default 0 (no flags)
    Flags to pass through to the re module, e.g. re.IGNORECASE.
na : scalar, optional
    Fill value for missing values. The default depends on dtype of the
    array. For object-dtype, ``numpy.nan`` is used. For ``StringDtype``,
    ``pandas.NA`` is used.
regex : bool, default True
    If True, assumes the pat is a regular expression.

    If False, treats the pat as a literal string.

Returns
-------
Series or Index of boolean values
    A Series or Index of boolean values indicating whether the
    given pattern is contained within the string of each element
    of the Series or Index.

See Also
--------
match : Analogous, but stricter, relying on re.match instead of re.search.
Series.str.startswith : Test if the start of each string element matches a
    pattern.
Series.str.endswith : Same as startswith, but tests the end of string.

In [151]:
df.bloom.str.contains("diameter")

0    False
1     True
2    False
3    False
4     True
5     True
Name: bloom, dtype: bool

In [152]:
df.bloom[0]

'Carmine-pink, salmon-pink streaks, stripes, flecks.  Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

In [153]:
df.bloom.str.contains('\d+"')

# \d Returns a match where the string contains digits (numbers from 0-9) "\d"
# + One or more occurrences

0    False
1     True
2    False
3    False
4     True
5     True
Name: bloom, dtype: bool

In [154]:
df[df.bloom.str.contains('\d+"')]

              name                                              bloom
1  Every Good Gift  Red.  Flowers velvety red.   Moderate fragranc...
4         Evrathin  Light pink. [Deep pink.]  Outer petals white. ...
5          Evita 2  White, blush shading.  Mild, wild rose fragran...

## ``pandas.Series.str.findall(pat, flags=0)``

Find all occurrences of pattern or regular expression in the Series/Index.

Equivalent to applying re.findall() to all the elements in the Series/Index.

#### Find all numeric values in each rows of the "bloom" feature

In [155]:
df.bloom.str.findall("\d+")

# \d Returns a match where the string contains digits (numbers from 0-9) "\d"
# + One or more occurrences

0                                []
1                       [4, 26, 40]
2                              [75]
3                      [35, 26, 40]
4    [35, 40, 2, 5, 17, 25, 26, 40]
5                   [20, 25, 1, 25]
Name: bloom, dtype: object

#### Find diameter values in each rows of the "bloom" feature

In [156]:
df.bloom.str.contains("diameter")

0    False
1     True
2    False
3    False
4     True
5     True
Name: bloom, dtype: bool

In [158]:
df.bloom[1]

'Red.  Flowers velvety red.   Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'

In [157]:
df.bloom.str.findall('\d+\.\d+"|\d+"')

# . Any character (except newline character)
# + One or more occurrences
# | Either or
# \d Returns a match where the string contains digits (numbers from 0-9) "\d"

0         []
1       [4"]
2         []
3         []
4     [2.5"]
5    [1.25"]
Name: bloom, dtype: object

## ``pandas.Series.str.match(pat, case=True, flags=0, na=None)``

Determine if each string starts with a match of a regular expression.

#### Find the rows of pink blooms (this information is available in the first words of the rows)

In [159]:
df.bloom

0    Carmine-pink, salmon-pink streaks, stripes, fl...
1    Red.  Flowers velvety red.   Moderate fragranc...
2    Orange-pink.  75 petals.  Large, very double  ...
3    White or white blend.  None to mild fragrance....
4    Light pink. [Deep pink.]  Outer petals white. ...
5    White, blush shading.  Mild, wild rose fragran...
Name: bloom, dtype: object

In [160]:
df.bloom[0]

'Carmine-pink, salmon-pink streaks, stripes, flecks.  Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

In [161]:
df.bloom.str.match("pink|\w+-pink|w+ pink")

0     True
1    False
2     True
3    False
4    False
5    False
Name: bloom, dtype: bool

In [162]:
df.bloom.str.match(".+pink")

0     True
1    False
2     True
3    False
4     True
5    False
Name: bloom, dtype: bool

In [163]:
df.bloom.str.match("pink|\w+[- ]?pink")

0     True
1    False
2     True
3    False
4     True
5    False
Name: bloom, dtype: bool

## ``pandas.Series.str.split(pat=None, n=- 1, expand=False, *, regex=None)``

Split strings around given separator/delimiter.

Splits the string in the Series/Index from the beginning, at the specified delimiter string.

#### Split each rows of "bloom" feature from the dot character as sentences

df.bloom.str.split(
    pat: 'str | re.Pattern | None' = None,
    n=-1,
    expand=False,
    *,
    regex: 'bool | None' = None,
)
Docstring:
Split strings around given separator/delimiter.

Splits the string in the Series/Index from the beginning,
at the specified delimiter string.

Parameters
----------
pat : str or compiled regex, optional
    String or regular expression to split on.
    If not specified, split on whitespace.
n : int, default -1 (all)
    Limit number of splits in output.
    ``None``, 0 and -1 will be interpreted as return all splits.
expand : bool, default False
    Expand the split strings into separate columns.

    - If ``True``, return DataFrame/MultiIndex expanding dimensionality.
    - If ``False``, return Series/Index, containing lists of strings.

regex : bool, default None
    Determines if the passed-in pattern is a regular expression:

    - If ``True``, assumes the passed-in pattern is a regular expression
    - If ``False``, treats the pattern as a literal string.
    - If ``None`` and `pat` length is 1, treats `pat` as a literal string.
    - If ``None`` and `pat` length is not 1, treats `pat` as a regular expression.
    - Cannot be set to False if `pat` is a compiled regex

    .. versionadded:: 1.4.0

Returns
-------
Series, Index, DataFrame or MultiIndex
    Type matches caller unless ``expand=True`` (see Notes).

Raises
------
ValueError
    * if `regex` is False and `pat` is a compiled regex

See Also
--------
Series.str.split : Split strings around given separator/delimiter.
Series.str.rsplit : Splits string around given separator/delimiter,
    starting from the right.
Series.str.join : Join lists contained as elements in the Series/Index
    with passed delimiter.
str.split : Standard library version for split.
str.rsplit : Standard library version for rsplit.

Notes
-----
The handling of the `n` keyword depends on the number of found splits:

- If found splits > `n`,  make first `n` splits only
- If found splits <= `n`, make all splits
- If for a certain row the number of found splits < `n`,
  append `None` for padding up to `n` if ``expand=True``

If using ``expand=True``, Series and Index callers return DataFrame and
MultiIndex objects, respectively.

Use of `regex=False` with a `pat` as a compiled regex will raise
an error.

In [165]:
df.bloom.str.split("\. ")

0    [Carmine-pink, salmon-pink streaks, stripes, f...
1    [Red,  Flowers velvety red,   Moderate fragran...
2    [Orange-pink,  75 petals,  Large, very double ...
3    [White or white blend,  None to mild fragrance...
4    [Light pink, [Deep pink.]  Outer petals white,...
5    [White, blush shading,  Mild, wild rose fragra...
Name: bloom, dtype: object

In [166]:
df.bloom.str.split("\. ", expand = True)

# her index teki paterne uygun çıktıyı birer sütun olarak verdi (expand)

,0,1,2,3,4,5,6,7,8
0,"Carmine-pink, salmon-pink streaks, stripes, fl...","Warm pink, clear carmine pink, rose pink shad...",Mild fragrance,"Large, very double, in small clusters, high-c...",Blooms in flushes throughout the season.,None,None,None,None
1,Red,Flowers velvety red,Moderate fragrance,"Average diameter 4""","Medium-large, full (26-40 petals), borne most...",Blooms in flushes throughout the season.,None,None,None
2,Orange-pink,75 petals,"Large, very double bloom form",Blooms in flushes throughout the season.,None,None,None,None,None
3,White or white blend,None to mild fragrance,35 petals,"Large, full (26-40 petals), high-centered blo...",Blooms in flushes throughout the season.,None,None,None,None
4,Light pink,[Deep pink.] Outer petals white,Expand rarely,Mild fragrance,35 to 40 petals,"Average diameter 2.5""","Medium, double (17-25 petals), full (26-40 pe...","Prolific, once-blooming spring or summer","Glandular sepals, leafy sepals, long sepals b..."
5,"White, blush shading","Mild, wild rose fragrance",20 to 25 petals,"Average diameter 1.25""","Small, very double, cluster-flowered bloom form",Blooms in flushes throughout the season.,None,None,None

In [167]:
info = ["id:345, age:25, salary:1200", "id:346, age:32, salary:1500", "id:347, age:28, salary:1400"]
s = pd.Series(info)
s

0    id:345, age:25, salary:1200
1    id:346, age:32, salary:1500
2    id:347, age:28, salary:1400
dtype: object

#### Split the serie to create a dataframe consisting of "id, age and salary" columns.

In [169]:
s.str.split("\D+")

0    [, 345, 25, 1200]
1    [, 346, 32, 1500]
2    [, 347, 28, 1400]
dtype: object

In [168]:
s.str.split("\D+", expand = True)

# \D Returns a match where the string DOES NOT contain digits "\D"
# +	One or more occurrences

# 0 sütunu boşlukları gösteriyor

  0    1   2     3
0    345  25  1200
1    346  32  1500
2    347  28  1400

In [170]:
df = s.str.split("\D+", expand = True).iloc[:, 1:]
df

     1   2     3
0  345  25  1200
1  346  32  1500
2  347  28  1400

In [171]:
df.columns = ["id", "age", "salary"]
df

    id age salary
0  345  25   1200
1  346  32   1500
2  347  28   1400

## ``pandas.Series.str.extract(pat, flags=0, expand=True)``

Extract capture groups in the regex pat as columns in a DataFrame.

For each subject string in the Series, extract groups from the first match of regular expression pat.

#### Extract just numbers

In [172]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

Signature: s.str.extract(pat: 'str', flags: 'int' = 0, expand: 'bool' = True) -> 'DataFrame | Series | Index'
Docstring:
Extract capture groups in the regex `pat` as columns in a DataFrame.

For each subject string in the Series, extract groups from the
first match of regular expression `pat`.

Parameters
----------
pat : str
    Regular expression pattern with capturing groups.
flags : int, default 0 (no flags)
    Flags from the ``re`` module, e.g. ``re.IGNORECASE``, that
    modify regular expression matching for things like case,
    spaces, etc. For more details, see :mod:`re`.
expand : bool, default True
    If True, return DataFrame with one column per capture group.
    If False, return a Series/Index if there is one capture group
    or DataFrame if there are multiple capture groups.

Returns
-------
DataFrame or Series or Index
    A DataFrame with one row for each subject string, and one
    column for each group. Any capture group names in regular
    expression pat will be used for column names; otherwise
    capture group numbers will be used. The dtype of each result
    column is always object, even when no match is found. If
    ``expand=False`` and pat has only one capture group, then
    return a Series (if subject is a Series) or Index (if subject
    is an Index).

See Also
--------
extractall : Returns all matches (not just the first match).

In [174]:
s.str.extract("\d")

# ValueError: pattern contains no capture groups
# extract grup ile çalışıyor
# gruplama yapmak için () içine alıyoruz

# s.str.extract("\d")

ValueError: pattern contains no capture groups

In [175]:
s.str.extract("(\d)")

# \d Returns a match where the string contains digits (numbers from 0-9) "\d"
# extract grup ile çalışıyor
# gruplama yapmak için () içine alıyoruz

# s.str.extract("(\d)")

   0
0  3
1  4
2  5

#### Extract just letters

In [176]:
s.str.extract("(\D+)\d(\D+)")

   0   1
0  a  aa
1  b  aa
2  c  aa

In [177]:
s.str.extract("(\D)\d(\D)(\D)")

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

In [178]:
s.str.extract("(\w)\d(\w)(\w)")

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

#### Extract "id, age and salary" values to create a dataframe consisting of "id, age and salary" columns.

In [179]:
info = ["id:345, age:25, salary:1200", "id:346, age:32, salary:1500", "id:347, age:28, salary:1400"]
s = pd.Series(info)
s

0    id:345, age:25, salary:1200
1    id:346, age:32, salary:1500
2    id:347, age:28, salary:1400
dtype: object

In [180]:
df = s.str.extract("(\d+)\D+(\d+)\D+(\d+)")
df

# \d Returns a match where the string contains digits (numbers from 0-9) "\d"
# \D Returns a match where the string DOES NOT contain digits "\D"
# + One or more occurrences

# 3 grup yapmam gerekiyor
# grup yapmak için () içerisine alıyorum

     0   1     2
0  345  25  1200
1  346  32  1500
2  347  28  1400

In [181]:
df.columns = ["id", "age", "salary"]
df

    id age salary
0  345  25   1200
1  346  32   1500
2  347  28   1400

In [182]:
s.str.findall("(\d+)")

0    [345, 25, 1200]
1    [346, 32, 1500]
2    [347, 28, 1400]
dtype: object

#### Extract first number

In [183]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [185]:
s.str.extract("(\d+\.\d+|\d+)")

# ondalık tanımlanaxaksa baş tarafta tanımlanmalı

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [186]:
s.str.extract("(\d*\.?\d*)")

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [184]:
#s.str.extract("(\d+\.\d+|\d+)")
#s.str.extract("(\d*\.?\d*)")
s.str.extract("(\S+)")

# \S Returns a match where the string DOES NOT contain a white space character "\S"
# extract ile () kullanmaz isem grup hatası verir

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

#### Extract first and second number

In [187]:
s.str.extract('(\d*.\d*).+/(\d*)')

# paternin içinde 2 grup var

      0    1
0   40   100
1   38   100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16   0   100
17  7.8  100

In [188]:
s.str.extract('(\d*.\d*).+/(\d*)')[0]

0     40
1     38
2     6.4
3     8.3
4     5.1
5     5.4
6     6.7
7     6.2
8     7.3
9     6.3
10    5.7
11    6.1
12    6.8
13    7.5
14    7.4
15    3.6
16     0
17    7.8
Name: 0, dtype: object

In [189]:
s.str.extract('(\d*.\d*).+/(\d*)')[1]

0     100
1     100
2     100
3     100
4     100
5     100
6     100
7     100
8     100
9     100
10    100
11    100
12    100
13    100
14    100
15    100
16    100
17    100
Name: 1, dtype: object

#### Extract date as month and year separately

In [190]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',                                 
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',                                                 
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])
s

0     06/2020\n\n4.9 l/100 km (comb)
1     11/2020\n\n166 g CO2/km (comb)
2     10/2019\n\n5.3 l/100 km (comb)
3     05/2022\n\n6.3 l/100 km (comb)
4     07/2019\n\n128 g CO2/km (comb)
5     06/2022\n\n112 g CO2/km (comb)
6     01/2022\n\n5.8 l/100 km (comb)
7     11/2020\n\n106 g CO2/km (comb)
8     04/2019\n\n105 g CO2/km (comb)
9     08/2020\n\n133 g CO2/km (comb)
10    04/2022\n\n133 g CO2/km (comb)
dtype: object

In [191]:
s.str.extract("(\d\d).(\d\d\d\d)")
#s.str.extract("(\d{2}).(\d{4})")
#s.str.extract("(\d*).(\d*)")
#s.str.extract("(\d\d)/(\d*)")
#s.str.extract("(\d\d)/(\d\d\d\d)")
#s.str.extract("(\d+).(\d+)")
#s.str.extract("(\S+)/(\S+)")

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

#### Extract date and comsuption value -> 4.9

In [192]:
s.str.extract('(\d+/\d+)\s+(\d+.\d+|\d+)')

# \s Returns a match where the string contains a white space character "\s"

          0    1
0   06/2020  4.9
1   11/2020  166
2   10/2019  5.3
3   05/2022  6.3
4   07/2019  128
5   06/2022  112
6   01/2022  5.8
7   11/2020  106
8   04/2019  105
9   08/2020  133
10  04/2022  133

#### Extract date as month and year separately

In [193]:
s = pd.Series(['\n\n4.9 06/2020 l/100 km (comb)',
'\n\n166 11/2020 g CO2/km (comb)',                                 
'\n\n5.3 10/2019 l/100 km (comb)',
'\n\n6.3 05/2022 l/100 km (comb)',
'\n\n128 07/2019 g CO2/km (comb)',
'\n\n112 06/2022 g CO2/km (comb)',                                                 
'\n\n5.8 01/2022 l/100 km (comb)'])
s

0    \n\n4.9 06/2020 l/100 km (comb)
1    \n\n166 11/2020 g CO2/km (comb)
2    \n\n5.3 10/2019 l/100 km (comb)
3    \n\n6.3 05/2022 l/100 km (comb)
4    \n\n128 07/2019 g CO2/km (comb)
5    \n\n112 06/2022 g CO2/km (comb)
6    \n\n5.8 01/2022 l/100 km (comb)
dtype: object

In [194]:
s.str.extract("\S+\s(\d+)/(\d+)")

# \S Returns a match where the string DOES NOT contain a white space character "\S"

    0     1
0  06  2020
1  11  2020
2  10  2019
3  05  2022
4  07  2019
5  06  2022
6  01  2022

In [195]:
s.str.extract("(\d+)/(\d+)")

    0     1
0  06  2020
1  11  2020
2  10  2019
3  05  2022
4  07  2019
5  06  2022
6  01  2022

## Example For Slides

In [196]:
text = "my email adress is example@gmail.com"

In [197]:
reg = re.search("([a-zA-Z0-9_.+-]+)@([a-zA-Z0-9_.+-]+)\.([a-zA-Z0-9_.+-]+)", text)

print(reg.group(0))
print(reg.group(1))
print(reg.group(2))
print(reg.group(3))

example@gmail.com
example
gmail
com

In [198]:
text = "/er._%+-@42f.-.Ab/"

In [199]:
reg = re.search("/[\w._%+-]+@[\w.-]+\.[a-zA-Z]{2,4}/", text)
print(reg.group(0))

/er._%+-@42f.-.Ab/

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of The Session - 11 (Part - 01)</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

____