In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 36 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 40.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=2c7fb55fcb219f18bb0f20240fd982ae7655954c292e285d9a27652038dd81de
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark').getOrCreate()

In [3]:
spark

In [7]:
df = spark.read.csv("titanic.csv", header=True, inferSchema=True)
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [8]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [9]:
df.show(truncate=False)

+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|Name                                                   |Sex   |Age |SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|1          |0       |3     |Braund, Mr. Owen Harris                                |male  |22.0|1    |0    |A/5 21171       |7.25   |null |S       |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)    |female|38.0|1    |0    |PC 17599        |71.2833|C85  |C       |
|3          |1       |3     |Heikkinen, Miss. Laina                                 |female|26.0|0    |0    |STON/O2. 3101282|7.925  |null |S       |
|4          |1       |1     |Futrelle, Mrs. Jacques Heath (Lily May Peel)           |female|35.0|1    |0    |113803          |53.1   |C123 |S       |
|5          |0       |3     |Allen, Mr. William Henry                               |male  |35.0|0    |0    |373450          |8.05   |null |S       |
|6          |0       |3     |Moran, Mr. James                                       |male  |null|0    |0    |330877          |8.4583 |null |Q       |
|7          |0       |1     |McCarthy, Mr. Timothy J                                |male  |54.0|0    |0    |17463           |51.8625|E46  |S       |
|8          |0       |3     |Palsson, Master. Gosta Leonard                         |male  |2.0 |3    |1    |349909          |21.075 |null |S       |
|9          |1       |3     |Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      |female|27.0|0    |2    |347742          |11.1333|null |S       |
|10         |1       |2     |Nasser, Mrs. Nicholas (Adele Achem)                    |female|14.0|1    |0    |237736          |30.0708|null |C       |
|11         |1       |3     |Sandstrom, Miss. Marguerite Rut                        |female|4.0 |1    |1    |PP 9549         |16.7   |G6   |S       |
|12         |1       |1     |Bonnell, Miss. Elizabeth                               |female|58.0|0    |0    |113783          |26.55  |C103 |S       |
|13         |0       |3     |Saundercock, Mr. William Henry                         |male  |20.0|0    |0    |A/5. 2151       |8.05   |null |S       |
|14         |0       |3     |Andersson, Mr. Anders Johan                            |male  |39.0|1    |5    |347082          |31.275 |null |S       |
|15         |0       |3     |Vestrom, Miss. Hulda Amanda Adolfina                   |female|14.0|0    |0    |350406          |7.8542 |null |S       |
|16         |1       |2     |Hewlett, Mrs. (Mary D Kingcome)                        |female|55.0|0    |0    |248706          |16.0   |null |S       |
|17         |0       |3     |Rice, Master. Eugene                                   |male  |2.0 |4    |1    |382652          |29.125 |null |Q       |
|18         |1       |2     |Williams, Mr. Charles Eugene                           |male  |null|0    |0    |244373          |13.0   |null |S       |
|19         |0       |3     |Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)|female|31.0|1    |0    |345763          |18.0   |null |S       |
|20         |1       |3     |Masselmani, Mrs. Fatima                                |female|null|0    |0    |2649            |7.225  |null |C       |
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [10]:
df.describe().show(vertical=True)

-RECORD 0---------------------------
 summary     | count
 PassengerId | 891
 Survived    | 891
 Pclass      | 891
 Name        | 891
 Sex         | 891
 Age         | 714
 SibSp       | 891
 Parch       | 891
 Ticket      | 891
 Fare        | 891
 Cabin       | 204
 Embarked    | 889
-RECORD 1---------------------------
 summary     | mean
 PassengerId | 446.0
 Survived    | 0.3838383838383838
 Pclass      | 2.308641975308642
 Name        | null
 Sex         | null
 Age         | 29.69911764705882
 SibSp       | 0.5230078563411896
 Parch       | 0.38159371492704824
 Ticket      | 260318.54916792738
 Fare        | 32.2042079685746
 Cabin       | null
 Embarked    | null
-RECORD 2---------------------------
 summary     | stddev
 PassengerId | 257.3538420152301
 Survived    | 0.48659245426485753
 Pclass      | 0.8360712409770491
 Name        | null
 Sex         | null
 Age         | 14.526497332334035
 SibSp       | 1.1027434322934315
 Parch       | 0.8060572211299488
 Ticket      | 471609.26868834975
 Fare        | 49.69342859718089
 Cabin       | null
 Embarked    | null
-RECORD 3---------------------------
 summary     | min
 PassengerId | 1
 Survived    | 0
 Pclass      | 1
 Name        | "Andersson, Mr. A...
 Sex         | female
 Age         | 0.42
 SibSp       | 0
 Parch       | 0
 Ticket      | 110152
 Fare        | 0.0
 Cabin       | A10
 Embarked    | C
-RECORD 4---------------------------
 summary     | max
 PassengerId | 891
 Survived    | 1
 Pclass      | 3
 Name        | van Melkebeke, Mr...
 Sex         | male
 Age         | 80.0
 SibSp       | 8
 Parch       | 6
 Ticket      | WE/P 5735
 Fare        | 512.3292
 Cabin       | T
 Embarked    | S

In [11]:
df.describe().toPandas()

  summary        PassengerId  ... Cabin Embarked
0   count                891  ...   204      889
1    mean              446.0  ...  None     None
2  stddev  257.3538420152301  ...  None     None
3     min                  1  ...   A10        C
4     max                891  ...     T        S

[5 rows x 13 columns]

In [12]:
df.describe().toPandas().T

                 0  ...                            4
summary      count  ...                          max
PassengerId    891  ...                          891
Survived       891  ...                            1
Pclass         891  ...                            3
Name           891  ...  van Melkebeke, Mr. Philemon
Sex            891  ...                         male
Age            714  ...                         80.0
SibSp          891  ...                            8
Parch          891  ...                            6
Ticket         891  ...                    WE/P 5735
Fare           891  ...                     512.3292
Cabin          204  ...                            T
Embarked       889  ...                            S

[13 rows x 5 columns]

In [13]:
shape = (df.count(), len(df.columns))
print(shape)

(891, 12)

In [14]:
df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [15]:
df.groupBy("Survived").count().show()

+--------+-----+
|Survived|count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

In [16]:
for i in df.columns:
  df.groupBy(i).count().show()

+-----------+-----+
|PassengerId|count|
+-----------+-----+
|        148|    1|
|        463|    1|
|        471|    1|
|        496|    1|
|        833|    1|
|        243|    1|
|        392|    1|
|        540|    1|
|        623|    1|
|        737|    1|
|        858|    1|
|         31|    1|
|        516|    1|
|         85|    1|
|        137|    1|
|        251|    1|
|        451|    1|
|        580|    1|
|        808|    1|
|         65|    1|
+-----------+-----+
only showing top 20 rows

+--------+-----+
|Survived|count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

+------+-----+
|Pclass|count|
+------+-----+
|     1|  216|
|     3|  491|
|     2|  184|
+------+-----+

+--------------------+-----+
|                Name|count|
+--------------------+-----+
|"Watt, Mrs. James...|    1|
|Young, Miss. Mari...|    1|
|Parr, Mr. William...|    1|
|Soholt, Mr. Peter...|    1|
|Goldsmith, Mrs. F...|    1|
|    Dimic, Mr. Jovan|    1|
|Harper, Mr. Henry...|    1|
|Reuchlin, Jonkhee...|    1|
|Fahlstrom, Mr. Ar...|    1|
|Hosono, Mr. Masabumi|    1|
| Partner, Mr. Austen|    1|
|Van Impe, Miss. C...|    1|
|Bjornstrom-Steffa...|    1|
|    Saad, Mr. Khalil|    1|
| Sirota, Mr. Maurice|    1|
|Slemen, Mr. Richa...|    1|
|McCormack, Mr. Th...|    1|
|Potter, Mrs. Thom...|    1|
|Palsson, Miss. St...|    1|
|"Nakid, Miss. Mar...|    1|
+--------------------+-----+
only showing top 20 rows

+------+-----+
|   Sex|count|
+------+-----+
|female|  314|
|  male|  577|
+------+-----+

+----+-----+
| Age|count|
+----+-----+
| 8.0|    4|
|70.0|    2|
| 7.0|    3|
|20.5|    1|
|49.0|    6|
|29.0|   20|
|40.5|    2|
|64.0|    2|
|47.0|    9|
|42.0|   13|
|24.5|    1|
|44.0|    9|
|35.0|   18|
|null|  177|
|62.0|    4|
|18.0|   26|
|80.0|    1|
|34.5|    1|
|39.0|   14|
| 1.0|    7|
+----+-----+
only showing top 20 rows

+-----+-----+
|SibSp|count|
+-----+-----+
|    1|  209|
|    3|   16|
|    5|    5|
|    4|   18|
|    8|    7|
|    2|   28|
|    0|  608|
+-----+-----+

+-----+-----+
|Parch|count|
+-----+-----+
|    1|  118|
|    6|    1|
|    3|    5|
|    5|    5|
|    4|    4|
|    2|   80|
|    0|  678|
+-----+-----+

+----------------+-----+
|          Ticket|count|
+----------------+-----+
|          367230|    2|
|       P/PP 3381|    2|
|          244270|    1|
|          363291|    3|
|SOTON/OQ 3101317|    1|
|           31418|    1|
|           26360|    2|
|            2700|    1|
|           14313|    1|
|          345763|    1|
|       A/5 21172|    1|
|          364500|    1|
|           19877|    2|
|          350029|    1|
|          113800|    1|
|      A/4. 39886|    1|
|       C.A. 2673|    2|
|          113807|    1|
|        PC 17604|    2|
|       C.A. 2315|    2|
+----------------+-----+
only showing top 20 rows

+-------+-----+
|   Fare|count|
+-------+-----+
| 8.5167|    1|
|   15.5|    8|
| 133.65|    2|
| 29.125|    5|
|10.4625|    2|
| 7.0458|    1|
|  9.475|    1|
|11.1333|    3|
|    0.0|   15|
| 7.7333|    4|
|   73.5|    5|
|77.2875|    2|
|   15.9|    2|
|   11.5|    4|
| 8.6833|    1|
|41.5792|    3|
|    9.5|    9|
| 8.4042|    1|
|14.4542|    7|
|14.4583|    3|
+-------+-----+
only showing top 20 rows

+-------+-----+
|  Cabin|count|
+-------+-----+
|    A23|    1|
|    B79|    1|
|    E44|    2|
|  F E69|    1|
|    D28|    1|
|    C78|    2|
|    C95|    1|
|  F G73|    2|
|B58 B60|    2|
|     D7|    1|
|   C128|    1|
|    B39|    1|
|    B22|    2|
|   C110|    1|
|    D21|    1|
|     F2|    3|
|    B30|    1|
|   C104|    1|
|    B50|    1|
|     A6|    1|
+-------+-----+
only showing top 20 rows

+--------+-----+
|Embarked|count|
+--------+-----+
|       Q|   77|
|    null|    2|
|       C|  168|
|       S|  644|
+--------+-----+

In [17]:
df = df.select(['Pclass',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Embarked','Survived'])

df.show()

+------+------+----+-----+-----+-------+--------+--------+
|Pclass|   Sex| Age|SibSp|Parch|   Fare|Embarked|Survived|
+------+------+----+-----+-----+-------+--------+--------+
|     3|  male|22.0|    1|    0|   7.25|       S|       0|
|     1|female|38.0|    1|    0|71.2833|       C|       1|
|     3|female|26.0|    0|    0|  7.925|       S|       1|
|     1|female|35.0|    1|    0|   53.1|       S|       1|
|     3|  male|35.0|    0|    0|   8.05|       S|       0|
|     3|  male|null|    0|    0| 8.4583|       Q|       0|
|     1|  male|54.0|    0|    0|51.8625|       S|       0|
|     3|  male| 2.0|    3|    1| 21.075|       S|       0|
|     3|female|27.0|    0|    2|11.1333|       S|       1|
|     2|female|14.0|    1|    0|30.0708|       C|       1|
|     3|female| 4.0|    1|    1|   16.7|       S|       1|
|     1|female|58.0|    0|    0|  26.55|       S|       1|
|     3|  male|20.0|    0|    0|   8.05|       S|       0|
|     3|  male|39.0|    1|    5| 31.275|       S|       0|
|     3|female|14.0|    0|    0| 7.8542|       S|       0|
|     2|female|55.0|    0|    0|   16.0|       S|       1|
|     3|  male| 2.0|    4|    1| 29.125|       Q|       0|
|     2|  male|null|    0|    0|   13.0|       S|       1|
|     3|female|31.0|    1|    0|   18.0|       S|       0|
|     3|female|null|    0|    0|  7.225|       C|       1|
+------+------+----+-----+-----+-------+--------+--------+
only showing top 20 rows

In [18]:
for i in df.columns:
  print(i + ":" , df[df[i].isNull()].count())

Pclass: 0
Sex: 0
Age: 177
SibSp: 0
Parch: 0
Fare: 0
Embarked: 2
Survived: 0

In [19]:
df = df.na.drop()

In [20]:
for i in df.columns:
  print(i + ":" , df[df[i].isNull()].count())

Pclass: 0
Sex: 0
Age: 0
SibSp: 0
Parch: 0
Fare: 0
Embarked: 0
Survived: 0

In [21]:
df.show(5)

+------+------+----+-----+-----+-------+--------+--------+
|Pclass|   Sex| Age|SibSp|Parch|   Fare|Embarked|Survived|
+------+------+----+-----+-----+-------+--------+--------+
|     3|  male|22.0|    1|    0|   7.25|       S|       0|
|     1|female|38.0|    1|    0|71.2833|       C|       1|
|     3|female|26.0|    0|    0|  7.925|       S|       1|
|     1|female|35.0|    1|    0|   53.1|       S|       1|
|     3|  male|35.0|    0|    0|   8.05|       S|       0|
+------+------+----+-----+-----+-------+--------+--------+
only showing top 5 rows

In [22]:
from pyspark.ml.feature import VectorAssembler, StringIndexer, OneHotEncoder

In [ ]:
#  https://spark.apache.org/docs/latest/ml-features#onehotencoder

In [23]:
gender_indexer = StringIndexer(inputCol="Sex", outputCol="Sexindex")
gender_encoder = OneHotEncoder(inputCol="Sexindex", outputCol="Sexvec")

embark_indexer = StringIndexer(inputCol="Embarked", outputCol="Embarkedindex")
embark_encoder = OneHotEncoder(inputCol="Embarkedindex", outputCol="Embarkedvec")

In [24]:
assembler = VectorAssembler(inputCols=["Pclass","Sexvec","Age","SibSp","Parch","Fare","Embarkedvec"],
                            outputCol="features")

In [25]:
from pyspark.ml.classification import LogisticRegression

In [26]:
lr_titanic = LogisticRegression(featuresCol="features", labelCol="Survived")

In [27]:
from pyspark.ml import Pipeline

In [28]:
pipeline = Pipeline(stages=[gender_indexer,embark_indexer,
                            gender_encoder,embark_encoder,
                            assembler,lr_titanic])

In [29]:
train_data, test_data = df.randomSplit([0.7,0.3])

In [30]:
fit_model = pipeline.fit(train_data)

In [31]:
result = fit_model.transform(test_data)

In [32]:
result.show(truncate=10)

+------+------+----+-----+-----+--------+--------+--------+--------+-------------+---------+-----------+----------+-------------+-----------+----------+
|Pclass|   Sex| Age|SibSp|Parch|    Fare|Embarked|Survived|Sexindex|Embarkedindex|   Sexvec|Embarkedvec|  features|rawPrediction|probability|prediction|
+------+------+----+-----+-----+--------+--------+--------+--------+-------------+---------+-----------+----------+-------------+-----------+----------+
|     1|female|14.0|    1|    2|   120.0|       S|       1|     1.0|          0.0|(1,[],[])| (2,[0],...|[1.0,0....|   [-3.128...| [0.0419...|       1.0|
|     1|female|15.0|    0|    1|211.3375|       S|       1|     1.0|          0.0|(1,[],[])| (2,[0],...|[1.0,0....|   [-3.842...| [0.0209...|       1.0|
|     1|female|16.0|    0|    1| 57.9792|       C|       1|     1.0|          1.0|(1,[],[])| (2,[1],...|[1.0,0....|   [-3.785...| [0.0222...|       1.0|
|     1|female|17.0|    1|    0|   108.9|       C|       1|     1.0|          1.0|(1,[],[])| (2,[1],...|[1.0,0....|   [-3.619...| [0.0261...|       1.0|
|     1|female|21.0|    2|    2| 262.375|       C|       1|     1.0|          1.0|(1,[],[])| (2,[1],...|[1.0,0....|   [-3.327...| [0.0346...|       1.0|
|     1|female|22.0|    0|    0|  151.55|       S|       1|     1.0|          0.0|(1,[],[])| (2,[0],...|(8,[0,2...|   [-3.448...| [0.0308...|       1.0|
|     1|female|22.0|    0|    1|    55.0|       S|       1|     1.0|          0.0|(1,[],[])| (2,[0],...|[1.0,0....|   [-3.051...| [0.0451...|       1.0|
|     1|female|24.0|    0|    0|    69.3|       C|       1|     1.0|          1.0|(1,[],[])| (2,[1],...|(8,[0,2...|   [-3.562...| [0.0275...|       1.0|
|     1|female|24.0|    0|    0| 83.1583|       C|       1|     1.0|          1.0|(1,[],[])| (2,[1],...|(8,[0,2...|   [-3.605...| [0.0264...|       1.0|
|     1|female|30.0|    0|    0| 56.9292|       C|       1|     1.0|          1.0|(1,[],[])| (2,[1],...|(8,[0,2...|   [-3.256...| [0.0370...|       1.0|
|     1|female|30.0|    0|    0|    86.5|       S|       1|     1.0|          0.0|(1,[],[])| (2,[0],...|(8,[0,2...|   [-2.891...| [0.0525...|       1.0|
|     1|female|35.0|    1|    0|    52.0|       S|       1|     1.0|          0.0|(1,[],[])| (2,[0],...|[1.0,0....|   [-2.184...| [0.1011...|       1.0|
|     1|female|35.0|    1|    0|    53.1|       S|       1|     1.0|          0.0|(1,[],[])| (2,[0],...|[1.0,0....|   [-2.187...| [0.1008...|       1.0|
|     1|female|36.0|    1|    2|   120.0|       S|       1|     1.0|          0.0|(1,[],[])| (2,[0],...|[1.0,0....|   [-2.143...| [0.1049...|       1.0|
|     1|female|38.0|    0|    0| 227.525|       C|       1|     1.0|          1.0|(1,[],[])| (2,[1],...|(8,[0,2...|   [-3.418...| [0.0317...|       1.0|
|     1|female|39.0|    1|    1|   79.65|       S|       1|     1.0|          0.0|(1,[],[])| (2,[0],...|[1.0,0....|   [-1.987...| [0.1204...|       1.0|
|     1|female|40.0|    1|    1|   134.5|       C|       1|     1.0|          1.0|(1,[],[])| (2,[1],...|[1.0,0....|   [-2.565...| [0.0713...|       1.0|
|     1|female|42.0|    0|    0| 227.525|       C|       1|     1.0|          1.0|(1,[],[])| (2,[1],...|(8,[0,2...|   [-3.239...| [0.0376...|       1.0|
|     1|female|43.0|    0|    1|211.3375|       S|       1|     1.0|          0.0|(1,[],[])| (2,[0],...|[1.0,0....|   [-2.588...| [0.0698...|       1.0|
|     1|female|48.0|    1|    0|    39.6|       C|       1|     1.0|          1.0|(1,[],[])| (2,[1],...|[1.0,0....|   [-2.019...| [0.1171...|       1.0|
+------+------+----+-----+-----+--------+--------+--------+--------+-------------+---------+-----------+----------+-------------+-----------+----------+
only showing top 20 rows

In [33]:
result.select(["prediction","Survived"]).show(50)

+----------+--------+
|prediction|Survived|
+----------+--------+
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       0|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       1|
|       1.0|       0|
|       1.0|       0|
|       1.0|       0|
|       1.0|       1|
|       1.0|       1|
|       1.0|       0|
|       1.0|       0|
|       0.0|       0|
|       0.0|       1|
|       0.0|       1|
|       1.0|       0|
|       0.0|       1|
|       1.0|       1|
|       0.0|       0|
|       0.0|       0|
|       0.0|       0|
|       1.0|       0|
|       0.0|       0|
|       0.0|       0|
|       0.0|       0|
|       0.0|       1|
|       0.0|       0|
|       0.0|       0|
|       0.0|       0|
+----------+--------+
only showing top 50 rows

In [35]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [36]:
my_eval = BinaryClassificationEvaluator(rawPredictionCol="rawPrediction", labelCol="Survived")
my_eval

BinaryClassificationEvaluator_c52ed802b271

In [37]:
eval = my_eval.evaluate(result)
eval

0.857918159122978

In [ ]:
# https://runawayhorse001.github.io/LearningApacheSpark/preface.html